:root {
  --color-tune: #3a3845;
  --color-antique-brass: #c69b7b;
  --color-mercury: #e5e5e5;
  --color-white: #ffffff;
  --color-french-gray: #cac9cf;
  --color-spun-pearl: #a6a6a8;
  --color-jumbo: #807f86;
}
