.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  &__burger {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
    }

    &_close {
      position: absolute;
      z-index: 1000;
    }
  }

  &__logo {
    @media screen and (max-width: 768px) {
      width: 100%;

      & > a {
        display: inline-block;
        width: 100%;
        text-align: center;
      }
    }
  }

  &__links,
  &__icons {
    display: flex;

    list-style: none;
  }

  &__links {
    @media screen and (max-width: 768px) {
      display: none;

      &-burger {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;
        z-index: 100;
        inset: 0;

        width: 100dvw;
        height: 100dvh;

        margin: 0;
        padding: 60px 0 0;
        background-color: #fff;
      }
    }
  }

  &__icons {
    @media screen and (max-width: 768px) {
      padding-left: 0;
    }
  }

  &__link {
    margin-right: 60px;

    transition: color 0.2s ease-in;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: var(--color-antique-brass);
    }

    &-active {
      color: var(--color-antique-brass);
    }

    @media screen and (max-width: 768px) {
      margin-right: 0;

      width: 100%;
      text-align: center;

      & > a {
        display: inline-block;
        padding-block: 20px;
        width: 100%;
      }
    }
  }

  &__close {
    display: none;
    position: relative;

    cursor: pointer;

    &-active {
      display: block;
      position: absolute;
      z-index: 101;

      top: 20px;
      right: 30px;
    }

    &_line {
      display: block;

      position: absolute;
      top: 0;

      width: 2px;
      height: 18px;

      background-color: #000;

      border-radius: 1px;

      rotate: 45deg;

      &:last-child {
        rotate: -45deg;
      }
    }
  }

  &__icon {
    margin-right: 24px;

    @media screen and (max-width: 768px) {
      &:not(:last-child) {
        display: none;

        margin-right: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
