@use './assets/scss/fonts';

@import './assets/scss/variables';
@import 'node_modules/normalize-scss/sass/normalize';

@include normalize();

html {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  color: var(--color-tune);
}

.container {
  max-width: 1400px;

  padding-inline: 20px;
  margin: 0 auto;
}

.hidden {
  overflow: hidden;
}

#app {
  width: 100dvw;
  height: 100dvh;
}

a {
  text-decoration: none;
  color: inherit;
}
