.login {
  &__subtitle {
    font-weight: 600;
    line-height: 22px;

    color: var(--color-scarpa-flow);
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;

    text-transform: uppercase;
  }

  &__input {
    min-width: 320px;
    padding: 14px;

    border: none;
    border-bottom: 1px solid var(--color-tune);

    text-align: center;

    transition: all 0.2s ease;

    &::placeholder {
      text-align: center;
      font-size: 16px;

      color: var(--color-scarpa-flow);
    }

    &:focus {
      outline: none;
    }

    &-error {
      color: #e78485;
      border-color: #e78485;
    }

    &_wrapper {
      margin-bottom: 32px;
    }
  }
}
